@font-face {
    font-family: "Bradley";
    src: url("../fonts/BradleysPen.ttf");
  }

body {
    background-image: url("../images/book_page_background_2_3.jpg~");
}
.footer__about_author {
    color:rgb(176, 143, 103);
}