.bookmark_menu {
    font-size: calc(1em + 1vw);
    font-family: Bradley Hand, cursive;
    text-align: right;
  }

header > .bookmark_menu {
    -webkit-flex: auto;
    flex: auto;
  }

.bookmark {
    padding: 5px 30px;
    margin: 5px;
    background-color: #FFE9B0;
    /* background-image: url("../images/background_bookmark_2.png"); */
    color: black;
    border: 1px;
    display: inline-block;
  }

.book_information {
    border: 3px;
    background-color: #FFE9B0;
    border: 6px solid #f18053;
    border-radius: 25px;
    padding: 20px 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.book_info_text {
  padding: 0px 20px 20px 20px
}

.book_image {
  border: 3px;
  border: 6px solid #f18053;
  border-radius: 25px;
  width: 40%;
  margin: 5px;
}

.search_text {
  width: 80%;
  margin: 10px;
  padding: 5px;
}
.search_result {
    display: inline;
}
